<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">

        
        <title>healthyShark</title>
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="../bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/jQuery-switchButton-master/jquery.switchButton.css">
       <!-- <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.css">-->
        <link rel="stylesheet" href="../styles/mystyle.css">
        
        <!-- endbuild -->

    </head>
   
    <body>
   	    <!--MAIN CONATINER ELEMENT OF BOOTSTRAP--> 
    	<div class="container-fluid" >
                <div class="row">
                   <h1 class="col-xs-12 title" id="nav-header"><span class="header-arrow"><img src="../image/left4-25.png"></span><span >Contact Information</span><span class="header-menu"><img src="../image/menu-25.png"></span> </h1><!--DIV ENDS FOR MAIN TILE-->
                   
                 <div class="col-xs-12 contact-body"><!--Contact Body-->
                 
                   <div class="col-xs-6 textbox"><!--div for first name -->
                   		<input type="text" class="form-control" placeholder="First Name">
                   </div><!--First Name-->
                   <div class="col-xs-6 textbox"><!--div for last name -->
                   		<input type="text" class="form-control" placeholder="Last Name">
                   </div><!--last Name-->
                   <div class="col-xs-12 textbox"><!--Phone Number-->
                   		<input type="text" class="form-control" placeholder="Phone Number">
                   </div><!--Phone Number-->
                   <div class="col-xs-12 textbox"><!--Address-->
                   		<input type="text" class="form-control" placeholder="Address">
                   </div><!--Address-->
                    <div class="col-xs-12 textbox"><!--Address-->
                    	<input type="text" class="form-control" placeholder="Address">
                   </div><!--Address-->
                    <div class="col-xs-6 textbox"><!--div for landmark name -->
                   		<input type="text" class="form-control" placeholder="Landmark">
                   </div><!--landmark-->
                   <div class="col-xs-6 textbox"><!--Pincode -->
                   		<input type="text" class="form-control" placeholder="Pin Code">
                   </div><!--Pincode-->
                    <div class="col-xs-6 textbox"><!--City-->
                   		<input type="text" class="form-control" placeholder="City">
                   </div><!--City-->
                   <div class="col-xs-6 textbox"><!--State-->
                   		<input type="text" class="form-control" placeholder="State">
                   </div><!--State-->
                   <div class="col-xs-6 contact-button"><!--Cancel Button-->
                   		<button type="button" class="btn btn-danger ">Cancel</button>
                   </div><!--Cancel Button-->
                   <div class="col-xs-6 contact-button"><!--Continue Button-->
                   		<button type="button" class="btn btn-success">Continue</button>
                   </div><!--Continue Button-->
                 </div><!--Contact Body-->
                   
             </div><!---DIV ENDS FOR ROW AREA-->  
	</div><!--DIV ENDS FOR CONTAINER-FLUID-->
    
    			<footer id="footer">
    				<ul id="footer-ul">
						<li class="footer-li"><a class="footer-a" href="#"><img src="../image/money_bag-25.png"><!--<span class="small-circle icon-container footer-icon-align icon-center bg-darkOrange"><span class="icon-desc  footer-notification">5</span></span>--></a></li>
						<li class="footer-li"><a class="footer-a" href="#"><img src="../image/briefcase_filled-25.png"></a></li>
						<li class="footer-li"><a id="footer-rate" class="footer-a" href="#"><p><span>&#8377; </span><span>900</span></p></a></li>
						<li class="footer-li"><a class="footer-a" href="#"><img src="../image/user_male-25.png"></a></li>
					</ul>
    			</footer>
	

    	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js" ></script>
        <script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="../bower_components/jQuery-switchButton-master/jquery.switchButton.js"></script>
 	    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/my-script.js"></script>
        <script type="text/javascript" src="../scripts/index.js"></script>
       
    </body>
</html>


