<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="../bower_components/Slidebars-0.10.2/development/slidebars.css">
</head>

<body>
<div  id="sb-site">
      Hello
    </div>

    <div class="sb-slidebar sb-left">
     <div>Chalo</div>
    </div>

<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../bower_components/Slidebars-0.10.2/development/slidebars.js"></script>
<script>
      (function($) {
        $(document).ready(function() {
          $.slidebars();
        });
      }) (jQuery);
    </script>
</body>
</html>
