<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">

        
        <title>healthyShark</title>
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="../bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="../bower_components/jQuery-switchButton-master/jquery.switchButton.css">
       <!-- <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.css">-->
        <link rel="stylesheet" href="../styles/mystyle.css">
        <link rel="stylesheet" href="../styles/enter-medicine-manually.css">
        
        <!-- endbuild -->

    </head>
   
    <body>
   	    <!--MAIN CONATINER ELEMENT OF BOOTSTRAP--> 
    	<div class="container-fluid" >
          
                    <h1 class="col-xs-12 fixed" id="nav-header">
                 		<span class="menu-title-header">Enter Medicine</span>
                 		<span class="glyphicon glyphicon-chevron-left header-menu"></span>
        			</h1><!--DIV ENDS FOR MAIN TILE-->
                   
       <!--BLOCK FIRST START HERE---------------------------------------------------------------------------->
       			<div class="row main-area">
                   <div class="col-xs-12 textbox"><!--div for enter medicine manually -->
                   		<input type="text" class="form-control" placeholder="Enter Medicine Name">
                   </div><!--Enter Medicine Manually-->
                 
                 <div class=" col-xs-12 manually-bottom-margin">
                   <div class="col-xs-5 textbox manually-page-margin"><!--Quantity-->
                   		<input type="text" class="form-control" placeholder="Quantity">
                   </div><!--Quantity-->
                   
                   <div class="col-xs-7 switch-enter-manually textbox manually-page-margin"><!--Quantity-->
                   		<input id="tabstrip" class="tab-strip-switch" type="checkbox" value="1" checked>
                   </div><!--Quantity-->
                  </div>
       <!--BLOCK FIRST END HERE------------------------------------------------------------------------------------------->                
                       
        <!--BLOCK SECOND START HERE---------------------------------------------------------------------------------------->
        
        <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                            	<div class="col-xs-12 order-content  sidebar-orange"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4 class="medicine-name">Amoxoclave 500</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading">5</h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="tab-strip">Tab</h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->   
                   
        <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                            	<div class="col-xs-12 order-content sidebar-green"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4  class="medicine-name">Crocin</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading"><span class="medicine-quantity">1</span></h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="tab-strip">Strip</h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->    
                   
         <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                            	<div class="col-xs-12 order-content  sidebar-purple"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4 class="medicine-name">Sumo</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading"><span class="medicine-quantity">9</span></h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="tab-strip">Tab</h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->    
                   
         <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                            	<div class="col-xs-12 order-content  sidebar-orange"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4 class="medicine-name">Acolyte</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading"><span class="medicine-quantity">2</span></h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="tab-strip">Strip</h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->    
                   
         <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                            	<div class="col-xs-12 order-content  sidebar-green"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4 class="medicine-name">Benedryl</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading"><span class="medicine-quantity">1</span></h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="tab-strip">Strip</h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->     
                       
              
        <!--BLOCK SECOND END HERE------------------------------------------------------------------------------------------>
        
        <!--BLOCK THIRD Continue button START HERE----------------------------------------------------------------------->
        	<div class="col-xs-12 medicine-enter-manually-button">
        		<button type="button" class="btn btn-info">Continue</button>
            </div>
        <!--BLOCK THIRD Continue button  END HERE------------------------------------------------------------------------->
                       
                   
             </div><!---DIV ENDS FOR ROW AREA-->  
	<footer class="footer row">
                <ul class="footer-ul col-xs-12">
                        <li class="footer-li col-xs-3"><a href="#"><i  class="footer-menu-icon fa fa-cart-plus" ></i></a></li>

                        <li class="footer-li col-xs-3"><a  href="#"><i class="footer-menu-icon footer-rupee-container"><span class="footer-menu-rupee">&#8377;</span><span >900</span></i></a></li>

                        <li class="footer-li col-xs-3"><a href="#"><i  class="footer-menu-icon fa fa-credit-card"></i></a></li>


                       <li class="footer-li col-xs-3" ><a   href="#"><i class="footer-menu-icon fa fa-user"></i></a></li>
                </ul>
            </footer>
		</div><!--DIV ENDS FOR CONTAINER-FLUID-->
	

    	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js" ></script>
        <script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="../bower_components/jQuery-switchButton-master/jquery.switchButton.js"></script>
 	    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/my-script.js"></script>
        <script type="text/javascript" src="../scripts/index.js"></script>
       
    </body>
</html>


