<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">

        
        <title>healthyShark</title>
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="../bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/jQuery-switchButton-master/jquery.switchButton.css">
       <!-- <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.css">-->
        <link rel="stylesheet" href="../styles/mystyle.css">
        <link rel="stylesheet" href="../styles/order-info.css">
        
        <!-- endbuild -->

    </head>
   
    <body>
   	    <!--MAIN CONATINER ELEMENT OF BOOTSTRAP--> 
    	<div class="container-fluid" >
                <div class="row">
                   <h1 class="col-xs-12 title" id="nav-header"><span class="header-arrow"><img src="../image/left4-25.png"></span><span >Order</span><span class="header-menu"><img src="../image/menu-25.png"></span> </h1><!--DIV ENDS FOR MAIN TILE-->
                   
              <!--BLOCK FIRST START HERE---------------------------------------------------------------------------->
                   <div class="col-xs-12"><!--Prescription Image Start Here-->
                       		<div class="col-xs-12 order-pic-container sidebar-purple">
                            	<div class="col-xs-12 order-content"> 
                            	<div class="col-xs-3 order-pic-div "><!--Presccription Pic Start Here-->
                                	<img class="order-pic" src="../image/10670-c_96_1.jpg"/>
                                </div><!--Prescription Pic End Here-->
                                
                                <div class="col-xs-8 order-notes"><!--Notes Start Here-->
                                
                                	<div class="col-xs-12"><!--Order Id Start-->
                                    	<h1 class="order-id">Drugcorner0001</h1>
                                    </div><!--Order Id End-->
                                    
                                    <div class="col-xs-12"><!--Rate Start-->
                                    	<h1 class="actual-price"><span>&#8377;</span>500</h1>
                                    </div><!--Rate End-->
                                    
                                    <div class="col-xs-12"><!--Estimation Start-->
                                    	<h1 class="estimated-price"><span class="estimated-price-padding">Estimation</span><span>&#8377;</span>500</h1>
                                    </div><!--Estimation End-->
                                    
                                    <div class="col-xs-12"><!--Date Start-->
                                    	<h1 class="date">23 June 2012</h1>
                                    </div><!--Date End-->
                                    
                                </div><!--Notes end here-->
                                
                                <div class="col-xs-1 order-repeat-div  glyphicon glyphicon-repeat"><!--Repeat Start Here-->
                                </div><!--Repeat End Here-->
                            
                       		<div class="col-xs-12 order-status-container"><!--status start-->
                                	<h1 class="order-status">Status :<span class="order-status-result-danger">Send Clear Image</span></h1>
                            </div><!--Status End-->
                            </div><!--Order Content End-->
                           </div><!--Pic Container End Here-->
                       </div><!--Prescription Image End Here-->
       <!--BLOCK FIRST END HERE------------------------------------------------------------------------------------------->                
                       
        <!--BLOCK SECOND START HERE---------------------------------------------------------------------------------------->
        
        <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                       		<div class="col-xs-12 order-pic-container sidebar-orange">
                            	<div class="col-xs-12 order-content"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4>Amoxoclave 500</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading"><span class="medicine-quantity">5</span>X<span class="medicine-unit-price">54</span></h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="medicine-price"><span class="rupee-symbol">&#8377;</span><span>440</span></h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                           </div><!--Pic Container End Here-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->   
                   
        <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                       		<div class="col-xs-12 order-pic-container sidebar-green">
                            	<div class="col-xs-12 order-content"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4>Crocin</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading"><span class="medicine-quantity">1</span>X<span class="medicine-unit-price">10</span></h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="medicine-price"><span class="rupee-symbol">&#8377;</span><span>52</span></h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                           </div><!--Pic Container End Here-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->    
                   
         <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                       		<div class="col-xs-12 order-pic-container sidebar-purple">
                            	<div class="col-xs-12 order-content"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4>Sumo</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading"><span class="medicine-quantity">9</span>X<span class="medicine-unit-price">2</span></h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="medicine-price"><span class="rupee-symbol">&#8377;</span><span>46</span></h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                           </div><!--Pic Container End Here-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->    
                   
         <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                       		<div class="col-xs-12 order-pic-container sidebar-orange">
                            	<div class="col-xs-12 order-content"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4>Acolyte</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading"><span class="medicine-quantity">5</span>X<span class="medicine-unit-price">5</span></h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="medicine-price"><span class="rupee-symbol">&#8377;</span><span>25</span></h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                           </div><!--Pic Container End Here-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->    
                   
         <!--Block of list of medicine start here--------------------------------------------------------------------------->
        	<div class="col-xs-12"><!--List of medicine Start Here-->
                       		<div class="col-xs-12 order-pic-container sidebar-green">
                            	<div class="col-xs-12 order-content"> 
                            	<div class="col-xs-7 medicine-name-div"><!--Name of Medicine Start Here-->
                                	<h4>Benedryl</h4>
                                </div><!--Name of Medicine End Here-->
                                
                                <div class="col-xs-2 medicine-quantity-div"><!--Quantity-->
                                	<h5 class="medicine-quantity-heading"><span class="medicine-quantity">1</span>X<span class="medicine-unit-price">236</span></h5>
                                	
                                </div><!--Quantity-->
                                
                                <div class="col-xs-3 medicine-price-div"><!--Rate-->
                                	<h5 class="medicine-price"><span class="rupee-symbol">&#8377;</span><span>256</span></h5>
                                </div><!--Rate-->
                            </div><!--Order Content End-->
                           </div><!--Pic Container End Here-->
                       </div><!--List of medicines End Here-->
                   <!--Block of list of medicine end here---------------------------------------------------------------->     
                       
              
        <!--BLOCK SECOND END HERE------------------------------------------------------------------------------------------>
        
        <!--BLOCK THIRD DELIVERY ADDRESS START HERE----------------------------------------------------------------------->
        
        	<div class="col-xs-12 delivery-div"><!--List of medicine Start Here-->
                       		<div class="col-xs-12 order-pic-container sidebar-purple">
                            	<div class="col-xs-12 order-content"> 
                            	<div class="col-xs-12 address-field-div"><!--Text Delivery Address Start Here-->
                                	<h4>Delivery Address</h4>
                                </div><!--Text Delivery Address End Here-->
                                
                                <div class="col-xs-12 address-field-div"><!--Name of Customer-->
                                	<h4 class="address-field-heading"><span class="medicine-quantity">Ravi</span><span class="medicine-unit-price">Gupta</span></h4>
                                </div><!--Name Of Customer-->
                                <div class="col-xs-12 address-field-div"><!--Address-->
                                	<h4 class="address-field-heading"><span class="medicine-quantity">52 N 12, Sector 5</span><br/><span>Air Force Colony, Pratap Nagar</span></h4>
                                </div><!--Address-->
                                <div class="col-xs-12 address-field-div"><!--landmark-->
                                	<h4 class="address-field-heading"><span class="medicine-quantity">Near Pratap Plaza</span></h4>
             					</div><!--landmark-->
                                <div class="col-xs-12 address-field-div"><!--Pincode State-->
                                	<h4 class="address-field-heading"><span class="medicine-quantity">302033</span> , </span><span class="medicine-quantity">Jaipur</span></span> , </span><span class="medicine-quantity">Rajasthan</span></h4>
             					</div><!--Pincode State-->
                                <div class="col-xs-12 address-field-div"><!--PhoneNumber-->
                                	<h4 class="address-field-heading"><span class="medicine-quantity">+919460109363</span></h4>
             					</div><!--PhoneNumber-->
                            </div><!--Order Content End-->
                           </div><!--Pic Container End Here-->
                       </div><!--List of medicines End Here-->
        <!--BLOCK THIRD DELIVERY ADDRESS END HERE------------------------------------------------------------------------->
                       
                   
             </div><!---DIV ENDS FOR ROW AREA-->  
	</div><!--DIV ENDS FOR CONTAINER-FLUID-->
    
    			<footer id="footer">
    				<ul id="footer-ul">
						<li class="footer-li"><a class="footer-a" href="#"><img src="../image/money_bag-25.png"><!--<span class="small-circle icon-container footer-icon-align icon-center bg-darkOrange"><span class="icon-desc  footer-notification">5</span></span>--></a></li>
						<li class="footer-li"><a class="footer-a" href="#"><img src="../image/briefcase_filled-25.png"></a></li>
						<li class="footer-li"><a id="footer-rate" class="footer-a" href="#"><p><span>&#8377; </span><span>900</span></p></a></li>
						<li class="footer-li"><a class="footer-a" href="#"><img src="../image/user_male-25.png"></a></li>
					</ul>
    			</footer>
	

    	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js" ></script>
        <script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="../bower_components/jQuery-switchButton-master/jquery.switchButton.js"></script>
 	    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/my-script.js"></script>
        <script type="text/javascript" src="../scripts/index.js"></script>
       
    </body>
</html>


