<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">

        
        <title>healthyShark</title>
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="../bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="../bower_components/jQuery-switchButton-master/jquery.switchButton.css">
       <!-- <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.css">-->
        <link rel="stylesheet" href="../styles/mystyle.css">
        <link rel="stylesheet" href="../styles/loading-bar.css">
        <link rel="stylesheet" href="../styles/prescription-gallery.css">
        
        <!-- endbuild -->

    </head>
   
    <body>
   	    <!--MAIN CONATINER ELEMENT OF BOOTSTRAP--> 
    	<div class="container-fluid" >
                   <h1 class="col-xs-12 fixed" id="nav-header">
                 		<span class="menu-title-header">Prescription Gallery</span>
                 		<span class="glyphicon glyphicon-chevron-left header-menu"></span>
                         <!--Progress Bar-->
                 		<div class="progress">
  							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
  							</div>
						</div>   <!--Progress Bar-->
        	   	   </h1><!--DIV ENDS FOR MAIN TILE-->
                   <div class="row main-area"> 
       <!--BLOCK FIRST START HERE---------------------------------------------------------------------------->
                   <div class="col-xs-12"><!--Prescription Image Start Here-->
                       		<div class="col-xs-12 thumbnail-prescription-pic-container">
                            	<div class="col-xs-12 prescription-pic-div"><!--Presccription Pic Start Here-->
                                	<img class="prescription-pic" src="../images/10670-c_96_1.jpg"/>
                                </div><!--Prescription Pic End Here-->
                            </div>
                       
                       </div><!--Prescription Image End Here-->
       <!--BLOCK FIRST END HERE------------------------------------------------------------------------------------------->                
                       
        <!--BLOCK SECOND START HERE---------------------------------------------------------------------------------------->
        
       	<div class="row thumbnail-row">
  			<div class="col-xs-3 pic-thumbnail">
    			<a href="#" class="thumbnail pic-thumbnail-link">
      				<img src="../images/10670-c_96_1.jpg" alt="...">
    			</a>
  		  </div>
          <div class="col-xs-3 pic-thumbnail">
    			<a href="#" class="thumbnail pic-thumbnail-link">
      				<img src="../images/10670-c_96_1.jpg" alt="...">
    			</a>
  		  </div>
          <div class="col-xs-3 pic-thumbnail">
    			<a href="#" class="thumbnail pic-thumbnail-link">
      				<img src="../images/10670-c_96_1.jpg" alt="...">
    			</a>
  		  </div><div class="col-xs-3 pic-thumbnail">
    			<a href="#" class="thumbnail pic-thumbnail-link">
      				<img src="../images/10670-c_96_1.jpg" alt="...">
    			</a>
  		  </div>
          <div class="col-xs-3 pic-thumbnail">
    			<a href="#" class="thumbnail pic-thumbnail-link">
      				<img src="../images/10670-c_96_1.jpg" alt="...">
    			</a>
  		  </div>
          <div class="col-xs-3 pic-thumbnail">
    			<a href="#" class="thumbnail pic-thumbnail-link">
      				<img src="../images/10670-c_96_1.jpg" alt="...">
    			</a>
  		  </div>
          <div class="col-xs-3 pic-thumbnail">
    			<a href="#" class="thumbnail pic-thumbnail-link">
      				<img src="../images/10670-c_96_1.jpg" alt="...">
    			</a>
  		  </div><div class="col-xs-3 pic-thumbnail">
    			<a href="#" class="thumbnail pic-thumbnail-link">
      				<img src="../images/10670-c_96_1.jpg" alt="...">
    			</a>
  		  </div>
		</div>   
                       
              
        <!--BLOCK SECOND END HERE------------------------------------------------------------------------------------------>
        
        <!--BLOCK THIRD Continue button START HERE----------------------------------------------------------------------->
        	<div class="col-xs-12 medicine-enter-manually-button">
        		<button type="button" class="btn btn-info">Continue</button>
            </div>
        <!--BLOCK THIRD Continue button  END HERE------------------------------------------------------------------------->
                       
                   
             </div><!---DIV ENDS FOR ROW AREA-->  
	
    
    			<footer class="footer row">
                <ul class="footer-ul col-xs-12">
                        <li class="footer-li col-xs-3"><a href="#"><i  class="footer-menu-icon fa fa-cart-plus" ></i></a></li>

                        <li class="footer-li col-xs-3"><a  href="#"><i class="footer-menu-icon footer-rupee-container"><span class="footer-menu-rupee">&#8377;</span><span >900</span></i></a></li>

                        <li class="footer-li col-xs-3"><a href="#"><i  class="footer-menu-icon fa fa-credit-card"></i></a></li>


                       <li class="footer-li col-xs-3" ><a   href="#"><i class="footer-menu-icon fa fa-user"></i></a></li>
                </ul>
            </footer> 
            </div><!--DIV ENDS FOR CONTAINER-FLUID-->

    	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js" ></script>
        <script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="../bower_components/jQuery-switchButton-master/jquery.switchButton.js"></script>
 	    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/my-script.js"></script>
        <script type="text/javascript" src="../scripts/index.js"></script>
       
    </body>
</html>


