<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">

        
        <title>healthyShark</title>
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="../bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
       <!-- <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.css">-->
        <link rel="stylesheet" href="../styles/mystyle.css">
        <link rel="stylesheet" href="../styles/wallet.css">
        
        <!-- endbuild -->

    </head>
   
    <body>
   	    <!--MAIN CONATINER ELEMENT OF BOOTSTRAP--> 
    	<div class="container-fluid" >
               
                   <h1 class="col-xs-12 fixed" id="nav-header">
                 		<span class="menu-title-header">Wallet</span>
                 		<span class="glyphicon glyphicon-chevron-left header-menu"></span>
        	   	   </h1><!--DIV ENDS FOR MAIN TILE--><!--DIV ENDS FOR MAIN TILE-->
                   
                  <div class="row main-area">  
                   <div class="col-xs-12"><!--help-->
                   		<a><h3 class="wallet-help">Help</h3></a>
                   </div><!--help-->
                   
                   <div class="col-xs-12"><!--your wallet amount text-->
                   		<h3 class="wallet-text">Your wallet amount is</h3>
                   </div><!--Your wallet amount text-->
                   
                   <div class="col-xs-12"><!--your wallet amount -->
                   		<h3 class="wallet-price"><span>&#8377; </span><span>234</span></h3>
                   </div><!--Your wallet amount-->
                   
                   <div class="col-xs-12 wallet-addcash-div">
                        <div class=" wallet-addcash" >
                           <button type="button" class="btn btn-info add-button">Add Cash</button>
                        </div>
                    </div><!--div ends for add cash-->
                    
                     <div class="col-xs-12"><!--your amount text-->
                   		<h3 class="wallet-text">Current Estimation</h3>
                   </div><!--Your amount text-->
                   
                    <div class="col-xs-12"><!--your estimation-->
                   		<h3 class="wallet-price"><span>&#8377; </span><span>500</span></h3>
                   </div><!--Your estimation-->
                   
                   <div class="col-xs-12"><!--your wallet amount text-->
                   		<h3 class="wallet-text">To be paid</h3>
                   </div><!--Your wallet amount text-->
                   
                    <div class="col-xs-12"><!--remaining amount-->
                   		<h3 class="wallet-price"><span>&#8377; </span><span>266</span></h3>
                   </div><!--remaining amount-->
                   
                   <div class="col-xs-12 wallet-notice"><!--Div for notice-->
                   		
                   </div><!--div for notice-->
                   
                </div><!---DIV ENDS FOR ROW AREA--> 
                 <footer class="footer row">
                <ul class="footer-ul col-xs-12">
                        <li class="footer-li col-xs-3"><a href="#"><i  class="footer-menu-icon fa fa-cart-plus" ></i></a></li>

                        <li class="footer-li col-xs-3"><a  href="#"><i class="footer-menu-icon footer-rupee-container"><span class="footer-menu-rupee">&#8377;</span><span >900</span></i></a></li>

                        <li class="footer-li col-xs-3"><a href="#"><i  class="footer-menu-icon fa fa-credit-card"></i></a></li>


                       <li class="footer-li col-xs-3" ><a   href="#"><i class="footer-menu-icon fa fa-user"></i></a></li>
                </ul>
            </footer> 
                   
	</div><!--DIV ENDS FOR CONTAINER-FLUID-->
    
    	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js" ></script>
        <script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.js"></script>
 	    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/my-script.js"></script>
        <script type="text/javascript" src="../scripts/index.js"></script>
       
    </body>
</html>


