<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">

        
        <title>healthyShark</title>
        <!-- build:css({.tmp,app}) styles/main.css -->
        <link rel="stylesheet" href="../bower_components/jquery-ui/themes/ui-lightness/jquery-ui.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
       <!-- <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.css">-->
        <link rel="stylesheet" href="../styles/mystyle.css">
        
        <!-- endbuild -->

    </head>
   
    <body>
   	    <!--MAIN CONATINER ELEMENT OF BOOTSTRAP--> 
    	<div class="container-fluid" >
                <div class="row">
                   <h1 class="col-xs-12 title" id="nav-header"><span class="header-arrow"><img src="../image/left4-25.png"></span><span >Wallet</span><span class="header-menu"><img src="../image/menu-25.png"></span> </h1><!--DIV ENDS FOR MAIN TILE-->
                   
                   <div class="col-xs-12"><!--help-->
                   		<a><h3 class="wallet-help">Help</h3></a>
                   </div><!--help-->
                   
                   <div class="col-xs-12"><!--your wallet amount text-->
                   		<h3 class="wallet-text">Your wallet amount is</h3>
                   </div><!--Your wallet amount text-->
                   
                   <div class="col-xs-12"><!--your wallet amount -->
                   		<h3 class="wallet-price"><span>&#8377; </span><span>234</span></h3>
                   </div><!--Your wallet amount-->
                   
                   <div class="col-xs-12 wallet-addcash-div">
                        <div class="small-circle icon-center bg-dullred wallet-addcash" >
                            <p class="wallet-icon-text" >+</p>	
                        </div>
                    </div><!--div ends for add cash-->
                    
                     <div class="col-xs-12"><!--your amount text-->
                   		<h3 class="wallet-text">Current Estimation</h3>
                   </div><!--Your amount text-->
                   
                    <div class="col-xs-12"><!--your estimation-->
                   		<h3 class="wallet-price"><span>&#8377; </span><span>500</span></h3>
                   </div><!--Your estimation-->
                   
                   <div class="col-xs-12"><!--your wallet amount text-->
                   		<h3 class="wallet-text">To be paid</h3>
                   </div><!--Your wallet amount text-->
                   
                    <div class="col-xs-12"><!--remaining amount-->
                   		<h3 class="wallet-price"><span>&#8377; </span><span>266</span></h3>
                   </div><!--remaining amount-->
                   
                   <div class="col-xs-12 wallet-notice"><!--Div for notice-->
                   		
                   </div><!--div for notice-->
                   
                </div><!---DIV ENDS FOR ROW AREA-->    
	</div><!--DIV ENDS FOR CONTAINER-FLUID-->
    
    			<footer id="footer">
    				<ul id="footer-ul">
						<li class="footer-li"><a class="footer-a" href="#"><img src="../image/money_bag-25.png"><!--<span class="small-circle icon-container footer-icon-align icon-center bg-darkOrange"><span class="icon-desc  footer-notification">5</span></span>--></a></li>
						<li class="footer-li"><a class="footer-a" href="#"><img src="../image/briefcase_filled-25.png"></a></li>
						<li class="footer-li"><a id="footer-rate" class="footer-a" href="#"><p><span>&#8377; </span><span>900</span></p></a></li>
						<li class="footer-li"><a class="footer-a" href="#"><img src="../image/user_male-25.png"></a></li>
					</ul>
    			</footer>
	

    	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js" ></script>
        <script type="text/javascript" src="../bower_components/jquery-ui/jquery-ui.js"></script>
 	    <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../scripts/my-script.js"></script>
        <script type="text/javascript" src="../scripts/index.js"></script>
       
    </body>
</html>


