@charset "utf-8";
/* CSS Document */

/*Side Menu*/
#nav-header {
	padding-left:0;
}
.dropdown-menu {
	padding-top:10px;
	top:165%;
	border:none;
	border-radius:0px;
	box-shadow:none;
	min-width:400px;
	opacity:1;
	background:#333;
	
}
.dropdown-menu>li>a {
	line-height:5;
	color:#FFF;
	font-size:23px;
}
.menu-container {
	margin-top:0px;
	padding-right:0 !important;
	padding-left:3px;
	padding-top:0px;
	margin-bottom:10px;
}
.menu-content {
	background-color:#333;
	padding-right:0px;
	margin-right:0px;
	width:100%;
	opacity:1;
}
.menu-orange {
	background-color:#FF5500;
}
/*Side Menu*/

/*HOME PAGE ADJUSTMENT*/


/*----------------------------------------------------AREA FOR  ADJUSTMENT----------------------------------------------------*/

/*Supported devices with actual screen resolutions not the base resolution*/

/* Samsung galaxy grand                 480 x 800                 */


@media ( min-device-width : 480px) and (max-device-width: 570px)
{
    .circle {
        height         : 170px; 
        width          : 170px;
        line-height    : 170px;
        text-align     : center; 
    }
    
    .icon-text{
        font-size      : 90px;
    }
    
    .fixed {
        font-size      : 20px;
    	padding-bottom : 10px;
    	height         : 65px;
	    line-height    : 55px; 
/*    	margin-bottom  : 65px;*/
    }
    
    
     .footer {
        height:55px;
    }
    
    .footer-menu-icon{
        font-size       : 31px;
        /*Set it according to the footer height */	
        line-height     : 55px;
        float           : none;
		margin-left		: 25px;
    }   


    .footer-rupee-container{
        font-size       : 31px;
     
    }
    
     
    .footer-menu-rupee{
/*        padding-right   : 5px; */
        font-size       : 31px;
    
    }


    /*Add margin at top of main row div*/
    .main-area{
        margin-top: 85px;      
    }

    
  .header-menu {
    position        : fixed;
    left            : 8px;
    line-height     : 55px;
    font-size       : 25px;   
   
  }
    
    
    .icon-desc{
        font-size:25px;
        margin-top:13px;
        padding: 5px 15px 0 15px;
    }
	
	.menu-title-header {
		font-size:25px;
		padding-top:5px;
	}
    .dropdown-menu {
	min-width:400px;
	
	}
	.dropdown-menu>li>a {
	font-size:23px;
	}
   
    
    

}



/*Increase all by 25%*/
@media ( min-device-width : 571px) and (max-device-width: 649px)
{
    .circle {
        height         : 210px; 
        width          : 210px;
        line-height    : 210px;
        text-align     : center; 
    }
    
    .icon-text{
        font-size      : 112px;
    }
    
    .fixed {
        font-size      : 25px;
    	padding-bottom : 10px;
    	height         : 81px;
	    line-height    : 68px; 
/*    	margin-bottom  : 65px;*/
    }
    
    
     .footer {
        height:69px;
    }
    
    .footer-menu-icon{
        font-size       : 38px;
        /*Set it according to the footer height */	
        line-height     : 68px;
        float           : none;
		margin-left		: 32px;
    }   


    .footer-rupee-container{
        font-size       : 39px;
     
    }
    
     
    .footer-menu-rupee{
/*        padding-right   : 5px; */
        font-size       : 39px;
    
    }


    /*Add margin at top of main row div*/
    .main-area{
        margin-top: 105px;      
    }

    
  .header-menu {
    position        : fixed;
    left            : 8px;
    line-height     : 68px;
    font-size       : 31px;   
   
  }
    
    
    .icon-desc{
        font-size:31px;
        margin-top:17px;
        padding: 0 15px 0 15px;
    }
	
	.menu-title-header {
		font-size:31px;
	}
     .dropdown-menu {
	min-width:500px;
	
	}
	.dropdown-menu>li>a {
	font-size:29px;
	}
   
    
    

}


/*25% increment on previous*/

/*Supported devices with actual screen resolutions not the base resolution*/
/* Samsung galaxy grand 2               720 x 1280                */
/* Moto g                               720 x 1280                */
@media ( min-device-width : 650px) and (max-device-width: 770px)
{
    
    .circle {
        height         : 250px; 
        width          : 250px;
        line-height    : 250px;
        text-align:    : center;
    }
    
     .icon-text{
        font-size      : 137px;
    }
    
    .fixed {
        font-size      : 31px;
    	padding-bottom : 10px;
    	height         : 100px;
	    line-height    : 81px; 
       
    }
    
    
    .footer {
        height         : 81px;
    }
    
    
    .footer-menu-icon{
        font-size       : 48px;
        /*Set it according to the footer height */	
        line-height     : 81px;
        float           : none;
		margin-left		: 40px;

    }  
    
    .footer-rupee-container{
        font-size       : 50px;
     
    }
    
     
    .footer-menu-rupee{
        font-size       : 50px;
    
    }
    
    
      /*Add margin at top of main row div*/
    .main-area{
        margin-top: 130px;      
    }

    
    .header-menu {
        position        : fixed;
        left            : 15px;
        line-height     : 81px;
        font-size       : 40px;   

    }


    .icon-desc{
            font-size   : 40px;
            margin-top  : 13px;
            padding     : 15px 15px 0 15px;
    }
	
	.menu-title-header {
		font-size:41px;
		padding-top:10px;
	}
    
    
    /*ALLIGNING THE ICONS IN position*/
    .icon-align{
	    padding-top:25px;
        margin-bottom: 25%;
    }
	 .dropdown-menu {
	min-width:625px;
	
	}
	.dropdown-menu>li>a {
	font-size:36px;
	}
    

}

/*15% Increment*/
/*APPROX 25 PERCENTAGE INCREASE IN  VALUE OF PREVIOUS SUPPORTED VALUES */
/*Supported devices with actual screen resolutions 960px and above */

/* IPhone 6                             960 x 1704                */

@media ( min-device-width : 771px)
{
    
    .circle {
        height         : 290px; 
        width          : 290px;
        line-height    : 290px;
        text-align:    : center;
    }
    
    .icon-text{
        font-size      : 158px;
    }
    
    
    .fixed {
        font-size      : 36px;
    	padding-bottom : 10px;
    	height         : 115px;
	    line-height    : 90px; 
       
    }
    
    
    .footer {
        height         : 90px;
    }
    
    
    .footer-menu-icon{
        font-size       : 55px;
        /*Set it according to the footer height */	
        line-height     : 90px;
        float           : none;
		margin-left		: 50px;

    }  
    
    .footer-rupee-container{
        font-size       : 58px;
     
    }
    
     
    .footer-menu-rupee{
        font-size       : 58px;
        padding-right   : 5px; 
    
    }
    
    
      /*Add margin at top of main row div*/
    .main-area{
        margin-top: 150px;      
    }

    
    .header-menu {
        position        : fixed;
        left            : 18px;
        line-height     : 90px;
        font-size       : 47px;   

    }


    .icon-desc{
            font-size   : 46px;
            margin-top  : 15px;
            padding     : 0 15px 0 15px;
            letter-spacing: 3px;
    }
    
    
    /*ALLIGNING THE ICONS IN position*/
    .icon-align{
	    padding-top:30px;
        margin-bottom: 30%;
    }
	
	.menu-title-header {
		font-size:47px;
		padding-top:10px;
	}
	
	.dropdown-menu {
	min-width:725px;
	
	}
	.dropdown-menu>li>a {
	font-size:41px;
	}

}








/*-----------------------------------------------------------------AREA ENDS FOR ADJUSTMENT-------------------------------*/






/*HOME PAGE ADJUSTMENT*/


