@charset "utf-8";
/* CSS Document */

/*Side Menu*/
#nav-header {
	padding-left:0;
}
.dropdown-menu {
	padding-top:10px;
	top:165%;
	border:none;
	border-radius:0px;
	box-shadow:none;
	min-width:400px;
	opacity:1;
	background:#333;

	
}
.dropdown-menu>li>a {
	line-height:5;
	color:#FFF;
	font-size:23px;
}
.menu-container {
	margin-top:0px;
	padding-right:0 !important;
	padding-left:3px;
	padding-top:0px;
	margin-bottom:10px;
}
.menu-content {
	background-color:#333;
	padding-right:0px;
	margin-right:0px;
	width:100%;
	opacity:1;
}
.menu-orange {
	background-color:#FF5500;
}

.progress-bar {
	height:20%;
}
/*Side Menu*/

/*HOME PAGE ADJUSTMENT*/


/*----------------------------------------------------AREA FOR  ADJUSTMENT----------------------------------------------------*/

/*Supported devices with actual screen resolutions not the base resolution*/

/* Samsung galaxy grand                 480 x 800                 */


@media ( min-device-width : 480px) and (max-device-width: 570px)
{
    .circle {
        height         : 170px; 
        width          : 170px;
        line-height    : 170px;
        text-align     : center; 
    }
    
    .icon-text{
        font-size      : 90px;
    }
 
    .icon-desc{
        font-size:25px;
        margin-top:13px;
        padding: 5px 15px 0 15px;
    }
    .dropdown-menu {
		min-width:400px;
		min-height:2000px;
	
	}
	.dropdown-menu>li>a {
	font-size:23px;
	}
   
   	.progress-bar {
		height:20%;
	}
    
    

}



/*Increase all by 25%*/
@media ( min-device-width : 571px) and (max-device-width: 649px)
{
    .circle {
        height         : 210px; 
        width          : 210px;
        line-height    : 210px;
        text-align     : center; 
    }
    
    .icon-text{
        font-size      : 112px;
    }
  
    .icon-desc{
        font-size:31px;
        margin-top:17px;
        padding: 0 15px 0 15px;
    }
	
     .dropdown-menu {
		min-width:500px;
		min-height:2500px;
	
	}
	.dropdown-menu>li>a {
		font-size:29px;
	}
	.progress-bar {
		height:20%;
	}
   
    
    

}


/*25% increment on previous*/

/*Supported devices with actual screen resolutions not the base resolution*/
/* Samsung galaxy grand 2               720 x 1280                */
/* Moto g                               720 x 1280                */
@media ( min-device-width : 650px) and (max-device-width: 770px)
{
    
    .circle {
        height         : 250px; 
        width          : 250px;
        line-height    : 250px;
        text-align:    : center;
    }
    
     .icon-text{
        font-size      : 137px;
    }
 
    .icon-desc{
            font-size   : 40px;
            margin-top  : 13px;
            padding     : 15px 15px 0 15px;
    }
	
	 .dropdown-menu {
		min-width:625px;
		min-height:3000px;
	
	}
	.dropdown-menu>li>a {
		font-size:36px;
	}
	.progress-bar {
		height:25%;
	}
    

}

/*15% Increment*/
/*APPROX 25 PERCENTAGE INCREASE IN  VALUE OF PREVIOUS SUPPORTED VALUES */
/*Supported devices with actual screen resolutions 960px and above */

/* IPhone 6                             960 x 1704                */

@media ( min-device-width : 771px)
{
    
    .circle {
        height         : 290px; 
        width          : 290px;
        line-height    : 290px;
        text-align:    : center;
    }
    
    .icon-text{
        font-size      : 158px;
    }
    

    .icon-desc{
            font-size   : 46px;
            margin-top  : 15px;
            padding     : 0 15px 0 15px;
            letter-spacing: 3px;
    }
    
	.dropdown-menu {
		min-width:725px;
		min-height:3500px;
	
	}
	.dropdown-menu>li>a {
		font-size:41px;
	}
	
	.progress-bar {
		height:25%;
	}
	
}








/*-----------------------------------------------------------------AREA ENDS FOR ADJUSTMENT-------------------------------*/






/*HOME PAGE ADJUSTMENT*/


