/*
 * Style defined by Robins Gupta 
 */


@font-face {
	font-family:"lato";
	src:url("../font/lato/Lato-Regular.woff");
}

@font-face {
	font-family:"lato-bold";
	src: url("../font/lato/lato-bold.woff");

}

@font-face {
	font-family : "bariol";
	src	    : url("../font/bariol/BariolRegular.woff");

}


body {

	font-family: "lato","sans-serif";
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
		 background:#EEE;
}





/*Style for containers element */
.tile-area{
	padding:  10px 0px;
}



.icon-center{
	margin:0 auto !important;
}

.bg-pink {
	background-color:#ff6b6b;
}

.bg-peterRiver{
	background-color:#2f91f1;
}



.bg-flatGreen{
	background-color:#2ecc71;
}

.bg-flatGreen: hover{
    
    
}

.bg-darkGreen{
	background-color:#26a95d;
}


/*DARK RED*/
.bg-alizarin{
	background-color:#e74c3c;
}

.bg-carrot{
	background-color:#e67e22;
}

.bg-darkOrange{
	background-color:#f39c12;
}

.bg-purple{
	background-color:#9b59b6;

}

.bg-bright-red {
	background-color:#ff4444;
}
.bg-dark-red {
	background-color:#cc0000;
}
.bg-bright-orange {
	background-color:#ffbb33;
}
.bg-dark-orange {
	background-color:#ff8800;
}
.bg-bright-purple {
	background-color:#aa66cc;
}
.bg-dark-purple {
	background-color:#9933cc;
}
.bg-bright-blue {
	background-color:#4470ff;
}
.bg-dark-blue {
	background-color:#3c64e5;
}
.bg-grey {
	background-color:#E8E8E8;
}
.sidebar-purple {
	background-color:#8000ff;
}
.sidebar-orange {
	background-color:#FF5500;
}
.sidebar-green {
	background-color:#00b33b;
}
.bg-dullred {
	background-color:#db4437;
}



/*ADJUSTING THE CIRCLE*/

/* Circle */
.circle {
    border-radius: 50%;
    width  :110px;
    height :110px;
/*    line-height:110px;*/
    margin  :20px 0px 20px 0px;   
}




.icon-text{
  font-family:"bariol", "lato";
  font-size:76px;
  /*letter-spacing:2px;*/
  color:#fff;
  text-align:center;
 
}

#footer {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:50px;
	background:#FFF;
	box-shadow: 0 0 5px #BBB;
	border-top:1px solid #DDD;
}
.footer-a {
    float: left;
    width: 25%;
    text-decoration: none;
	color:#777;
	padding-top:13px;
}

#footer-rate {
	padding-top:15px;
	font-size:15px;
	letter-spacing:1.3px;
}


.title {
	border-bottom  : 1px solid #DDD;
	font-size      : 14px;
    padding-bottom : 10px;
    text-align     : center;
	text-transform : uppercase;
	font-weight	   : 600;
	letter-spacing : 3px;
	margin-top	   : 0px;
	padding-top	   : 20px;
	background	   : #FFF;
	color		   : #777;
}

.fixed {
	position: fixed;
	top: -1px;
	left: 0;
	width: 100%;
	z-index:100;
	border-bottom  : 1px solid #DDD;
	font-size      : 14px;
    padding-bottom : 10px;
    text-align     : center;
	text-transform : uppercase;
	font-weight	   : 600;
	letter-spacing : 3px;
	margin-top	   : 0px;
	padding-top	   : 20px;
	background	   : #FFF;
	color		   : #777;
	display		   : block !important;
}

/*Enter Manually*/
.add-note {
	font-size:18px;
	padding:20px 0 20px 0;
	text-align:center;
}
/*Enter Manually*/

/*Orders*/

/*Orders*/



.icon-number{
  font-family:"bariol", "lato";
  font-size:50px;
  /*letter-spacing:2px;*/
  color:#fff;
  text-align:center;
   padding-top: 3px;
}

.icon-desc{
	font-family:"lato";
	font-size:11px;
	letter-spacing:2px;
	color:#3F3C3C;
	text-align:center;
	margin-top:8px;
	font-weight:bold;
    padding: 0px 10px 0px 10px;
}


.circle-notification{
  line-height: 110px;
  border-radius: 50%;
  width  :110px;
  height :110px;
  /*    line-height:110px;*/
  margin  :20px 0px 20px 0px; 
    
}

/*----------------------------------------------------AREA FOR IPHONE ADJUSTMENT----------------------------------------------------*/

@media ( min-device-width : 100px) and (max-device-width: 330px)
{

    
    /* Circle */
    /* 12% decrease from normal value    */
    .circle {
        border-radius: 50%;
        width  : 80px;
        height : 80px;
        line-height:70px;  
    }


    .icon-text{
      font-family:"bariol", "lato";
      font-size:67px;
      /*letter-spacing:2px;*/
      color:#fff;
      text-align:center;
	  padding-top:0px;
    }


    .title {
        border-bottom  : 1px solid #DDD;
        font-size      : 13px;
        padding-bottom : 8px;
        text-align     : center;
		text-transform : uppercase;
		font-weight	   : 600;
		letter-spacing : 3px;
		
    }
	.fixed {
		font-size      : 13px;
    	padding-bottom : 8px;
	}
	
	#footer {
		height:44px;
	}
	.footer-a {
		padding-top:12px;
	}

	#footer-rate {
		padding-top:15px;
		font-size:13px;
	}
	
	.add-note {
		font-size:18px;
	}


    .icon-number{
      font-family:"bariol", "lato";
      font-size:44px;
      /*letter-spacing:2px;*/
      color:#fff;
      text-align:center;
       padding-top: 3px;
    }

    .icon-desc{
        font-family:"lato";
        font-size:9.6px;
        letter-spacing:2px;
        color:#3F3C3C;
        text-align:center;
        margin-top:7px;
        font-weight:bold;
        padding: 0px 8px 0px 8px;
    }


    .circle-notification{
      line-height: 80px;
      border-radius: 50%;
      width  :80px;
      height :80px;
      /*    line-height:110px;*/
      margin  :17px 0px 17px 0px; 

    }


}


/* 20 % inc of initial value */
@media ( min-device-width : 330px) and (max-device-width: 390px)
{
      .circle
      {
        width  :133px;
        height :133px;
        line-height:130px;
      }


     .icon-text
     {
       font-family:"bariol", "lato";
       font-size:86px;
       /*letter-spacing:2px;*/
       color:#fff;
       text-align:center;
     }
    
    .title 
    {
	border-bottom  : 1px solid #DDD;
	font-size      : 17px;
    padding-bottom : 12px;
    text-align     : center;
	text-transform : uppercase;
	font-weight	   : 600;
	letter-spacing : 3px;
    }
	
	.fixed {
		font-size      : 17px;
    	padding-bottom : 12px;
	}
	#footer {
		height:50px;
	}
	.footer-a {
		padding-top:13px;
	}

	#footer-rate {
		padding-top:15px;
		font-size:15px;
	}
	.add-note {
		font-size:20px;
	}
	

    
    .icon-desc
    {
        font-family:"lato";
        font-size:14px;
        letter-spacing:2px;
        color:#3F3C3C;
        text-align:center;
        margin-top:10px;
        font-weight:bold;
    }
    
    
    .circle-notification{
        line-height: 133px;
        border-radius: 50%;
        width  :133px;
        height :133px;
        /*    line-height:110px;*/
        margin  :24px 0px 24px 0px; 
    
    }
    
    .icon-number{
       font-family:"bariol", "lato";
       font-size:60px;
       /*letter-spacing:2px;*/
       color:#fff;
       text-align:center; 
       
   }
     
}



/* 20% inc of prev value */
@media ( min-device-width : 390px) and (max-device-width: 470px)
{
      .circle
      {
        width  :159px;
        height :159px;
        line-height:150px;
      }


     .icon-text
     {
       font-family:"bariol", "lato";
       font-size:103px;
       /*letter-spacing:2px;*/
       color:#fff;
       text-align:center;
     }
    
    .title 
    {
	border-bottom  : 1px solid #DDD;
	font-size      : 20px;
    padding-bottom : 14px;
    text-align     : center;
	text-transform : uppercase;
	font-weight	   : 600;
	letter-spacing : 3px;
    }
	
	.fixed {
		font-size      : 20px;
    	padding-bottom : 14px;
	}
	#footer {
		height:50px;
	}
	.footer-a {
		padding-top:13px;
	}

	#footer-rate {
		padding-top:15px;
		font-size:15px;
	}
	
	.add-note {
		font-size:24px;
	}
    
    .icon-desc
    {
        font-family:"lato";
        font-size:17px;
        letter-spacing:2px;
        color:#3F3C3C;
        text-align:center;
        margin-top:12px;
        font-weight:bold;
    }
    
    
    .circle-notification{
        line-height: 159px;
        border-radius: 50%;
        width  :159px;
        height :159px;
        /*    line-height:110px;*/
        margin  :29px 0px 29px 0px; 
    
    }
    
    .icon-number{
       font-family:"bariol", "lato";
       font-size:72px;
       /*letter-spacing:2px;*/
       color:#fff;
       text-align:center; 
       
   }
    
}



/* 7% inc of prev value */
@media ( min-device-width : 470px) and (max-device-width: 850px)
{
      .circle
      {
        width  :170px;
        height :170px;
        line-height:170px;
      }


       .icon-text
     {
       font-family:"bariol", "lato";
       font-size:110px;
       /*letter-spacing:2px;*/
       color:#fff;
       text-align:center;
     }
    
    .title 
    {
	border-bottom  : 1px solid #DDD;
	font-size      : 21px;
    padding-bottom : 15px;
    text-align     : center;
	text-transform : uppercase;
	font-weight	   : 600;
	letter-spacing : 3px;
    }
    
	.fixed {
		font-size      : 21px;
   	    padding-bottom : 15px;
	}
	#footer {
		height:50px;
	}
	.footer-a {
		padding-top:13px;
	}

	#footer-rate {
		padding-top:15px;
		font-size:15px;
	}

	.add-note {
		font-size:26px;
	}
    .icon-desc
    {
        font-family:"lato";
        font-size:18px;
        letter-spacing:2px;
        color:#3F3C3C;
        text-align:center;
        margin-top:13px;
        font-weight:bold;
    }
    
    
    .circle-notification{
        line-height: 170px;
        border-radius: 50%;
        width  :170px;
        height :170px;
        /*    line-height:110px;*/
        margin  :31px 0px 31px 0px; 
    
    }
    
    .icon-number{
       font-family:"bariol", "lato";
       font-size:77px;
       /*letter-spacing:2px;*/
       color:#fff;
       text-align:center; 
       
   }
    

}




/* 25% inc of prev value */
@media ( min-device-width : 850px) 
{
      .circle
      {
        width  :198px;
        height :198px;
        line-height:198px;
      }


     .icon-text
     {
       font-family:"bariol", "lato";
       font-size:128px;
       /*letter-spacing:2px;*/
       color:#fff;
       text-align:center;
     }

    .title 
    {
    border-bottom  : 1px solid #DDD;
    font-size      : 26px;
    padding-bottom : 17px;
    text-align     : center;
	text-transform : uppercase;
	font-weight	   : 600;
	letter-spacing : 3px;
    }
	.fixed {
		 font-size      : 26px;
         padding-bottom : 17px;
	}
	#footer {
		height:60px;
	}
	.footer-a {
		padding-top:15px;
	}

	#footer-rate {
		padding-top:18px;
		font-size:18px;
	}
	
	.add-note {
		font-size:32px;
	}
    .icon-desc
    {
        font-family:"lato";
        font-size:21px;
        letter-spacing:2px;
        color:#3F3C3C;
        text-align:center;
        margin-top:15px;
        font-weight:bold;
        padding: 0px 20px 0px 20px;
    }


    .circle-notification{
        line-height: 198px;
        border-radius: 50%;
        width  :198px;
        height :198px;
        /*    line-height:110px;*/
        margin  :36px 0px 36px 0px; 

    }

    .icon-number{
       font-family:"bariol", "lato";
       font-size:90px;
       /*letter-spacing:2px;*/
       color:#fff;
       text-align:center; 

   }

}





/*-----------------------------------------------------------------AREA ENDS FOR IPHONE ADJUSTMENT-------------------------------*/






.icon-container{
	padding-left:0px;
	padding-right: 0px;
}

/*ALLIGNING THE ICONS IN position*/
.icon-align{
	padding-left:0px;
	padding-right:0px;
	padding-top:15px;
/*    margin-bottom: 70px; */
    margin-bottom: 20%;
}

/*Ravi Css Start Here*/

.small-circle {
	border-radius:50%;
	width:40px;
	height:40px;
}


#footer-ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
	text-align:center;
}

.footer-li {
    display: inline;
}


.footer-notification {
	color:white;
	font-weight:bold;
}

.footer-icon-align {
	padding-left:0px;
	padding-right:0px;
}
.header-arrow {
	float:left;
	margin-top:-3px;
	
}

.header-menu {
	float:right;
}
/*Side Menu*/
#nav-header {
	padding-left:0;
}
.dropdown-menu {
	padding-top:10px;
	top:165%;
	border:none;
	border-radius:0px;
	box-shadow:none;
	min-width:300px;
	opacity:0.98;
	background:#333;
	
}
.dropdown-menu>li>a {
	line-height:5;
	color:#FFF;
}
/*Side Menu*/



/*ENTER MANUALLY*/
.text {
	color:#999;
}
.prescription-pic-container {
	background-color:#FFF;
	margin-bottom:60px;
	box-shadow:3px 3px 10px #222;
}
.prescription-pic-div {
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #EEE;
}
.prescription-pic {
	width:100%;
	height:100%;
}
.prescription-notes {
	color:#777;
}

.add-medicine-icon-align {
	padding-left:0px;
	padding-right:0px;
	padding-top:15px;
/*    margin-bottom: 70px; */
    margin-bottom: 10%;
}

.span-add-note {
	padding-right:20px;
}

.span-days {
	padding-left:20px;
	text-align:center;
}

.required-days {
	text-align:center;
}

.ui-corner-all {
	border-bottom-right-radius:100px;
	border-bottom-left-radius:100px;
	border-top-right-radius:100px;
	border-top-left-radius:100px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
}

.ui-slider-horizontal .ui-slider-handle {
	top:-.5em;
}
.ui-slider-horizontal {
	height:0.1em;
}
.ui-widget-content {
	border:none;
	background:#ff5500;
	opacity:0.8;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	border:none;
	background:#ff5500;
	opacity:0.8;
}
/*ENTER MANUALLY*/

/*Orders*/
.order-pic-container {
	
	margin-top:0px;
	box-shadow:0 2px 5px #AAA;
	padding-right:0 !important;
	padding-left:12px;
	padding-top:0px;
	margin-bottom:10px;
}
.order-pic-div {
	padding:10px 0 10px 0;
}
.order-pic {
	width:100%;
	height:100%;
}
.order-notes {
	color:#777;
}

.side-color {
	width:100%;
	height:100%;
}
.order-content {
	background-color:#FFF;
	padding-right:0px;
	margin-right:0PX;
	width:100%;
}
.order-id {
	margin-bottom:0px;
	margin-top:15px;
	color:#777;
	font-size:14px;
	text-transform:uppercase;
	float:left;
}
.actual-price {
	margin-bottom:0px;
	margin-top:10px;
	color:#555;
	font-size:22px;
}
.estimated-price {
	margin-bottom:0px;
	margin-top:10px;
	color:#999;
	font-size:14px;
}
.date {
	margin-bottom:10px;
	margin-top:10px;
	color:#777;
	font-size:14px;
}
.order-status {
	margin-bottom:10px;
	margin-top:0px;
	color:#999;
	font-size:14px;
	text-transform:uppercase;
}
.order-status-container {
	padding-left:0px;
}
.order-repeat-div {
	float:right;
	padding:10px 0 10px 0;
}
.order-status-result {
	padding-left:5px;
}
.estimated-price-padding {
	padding-right:10px;
}
/*Orders*/

/*Wallet*/
.wallet-text {
	color:#777;
	font-size:18px;
	margin-top:10px;
}
.wallet-help {
	color:#428bca;
	float:right;
	font-size:16px;
	margin-top:0px;
}
.wallet-price {
	color:#AAA;
	font-size:40px;
	text-align:center;
}
.wallet-addcash-div {
	margin-bottom:20px;
}
.wallet-addcash {
	float:right;
	box-shadow:0 3px 10px #999;
	
}
.wallet-icon-text {
  font-family:"bariol", "lato";
  font-size:25px;
  /*letter-spacing:2px;*/
  color:#fff;
  text-align:center;
 
}

.wallet-notice {
	border-top:#DDD;
	background:#FFF;
}

/*Wallet*/

/*Book a Slot*/
.popup {
	 position:fixed;
 	 left:50%;
}
.slot-circle {
	position:relative;
	width:200px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	left:-50%;
	margin-top:75px;
	
	
}

.quarter {
	position:absolute;
	width:50%;
	height:50%;
	transition:background-color 0.2s ease-in-out;
}
.quarter:hover {
	background-color:#EEE;
}
.quarter1 {
	top:0;
	left:0;
	border-radius:100% 0 0 0;
}
.quarter2 {
	top:0;
	right:0;
	border-radius:0 100% 0 0 ;
}
.quarter3 {
	bottom:0;
	left:0;
	border-radius:0 0 0 100%;
}
.quarter4 {
	bottom:0;
	right:0;
	border-radius:0 0 100% 0 ;
}
.cutout {
	width:50%;
	height:50%;
	background-color:#EEE;
	position:absolute;
	top:25%;
	left:25%;
	border-radius:50%;
	pointer-events:none;
	}
	
.today-tomorrow-group {
	width:300px;
	height:40px;
	text-transform:uppercase;
	left:-50%;
	padding-left:50px;
	margin-top:20px;
}
.switch-button-label.off {
	color:#777;
}
.switch-button-label {
	font-size:14px;
}

/*Book a Slot*/

/*Contact Info*/
.contact-body {
	
}
.textbox {
	margin-top:0.9em;
	margin-bottom:0.9em;
	 
}
.form-control {
	border-radius:0px;
	border:none;
	border-bottom: 1px solid #AAA;
	-webkit-box-shadow:none;
	background:#EEE;
}

.form-control:focus {
  border-color: #060;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-button {
	text-align:center;
	padding-top:1.5em;
	padding-bottom:10px;
}
/*Contact Info*/

/*Order Info*/
.order-status-result-danger {
	padding-left:5px;
	color:#d9534f;
}
.medicine-name-div {
	padding:0px;
}
.medicine-price-div {
	padding:0px;
	
}
.medicine-quantity-div {
	padding:0px;
}
.medicine-quantity-heading {
	float:left;
	line-height:1.3;
}
.medicine-price {
	float:right;
	padding-right:10px;
	line-height:1.3;
}
.medicine-quantity {
	padding-right:3px;
}
.medicine-unit-price {
	padding-left:3px;
}
.rupee-symbol {
	padding-right:3px;
}
.delivery-div {
	margin-bottom:50px;
}
.address-field-div {
	padding:0px;
}
.address-field-heading {
	float:left;
	line-height:1.5;
	margin-bottom:0;
	margin-top:0;
	color:#999;
	
}
/*Order Info*/

/*Enter Medicine Manually*/

.tab-strip-switch {
	float:right;
	text-transform:uppercase;
}
.tab-strip {
	float:right;
	padding-right:10px;
	line-height:1.3;
	text-transform:uppercase;
}
.manually-page-margin {
	margin-bottom:4em;
	margin-top:1.5em;
}
.switch-enter-manually {
	margin-bottom:0px;
	margin-top:2em;
}
.medicine-enter-manually-button {
	margin-top:30px;
	text-align:center;
}
/*Enter Medicine Manually*/

/*Pic Thumbnail*/
.thumbnail-row {
	padding-left:30px;
	padding-right:30px;
	
}
.pic-thumbnail {
	padding:1px;
}
.thumbnail-prescription-pic-container {
	background-color:#FFF;
	margin-bottom:30px;
	box-shadow:3px 3px 10px #222;
}
.pic-thumbnail-link {
	margin-bottom:0px;
}
/*Pic Thumbnail*/