@charset "utf-8";
/* CSS Document */

/*Wallet*/
.wallet-text {
	color:#777;
	font-size:18px;
	margin-top:10px;
}
.wallet-help {
	color:#428bca;
	float:right;
	font-size:16px;
	margin-top:0px;
}
.wallet-price {
	color:#AAA;
	font-size:40px;
	text-align:center;
}
.wallet-addcash-div {
	margin-bottom:20px;
}
.wallet-addcash {
	float:right;
	box-shadow:0 3px 10px #999;
	
}
.wallet-icon-text {
  font-family:"bariol", "lato";
  font-size:25px;
  /*letter-spacing:2px;*/
  color:#fff;
  text-align:center;
 
}

.wallet-notice {
	border-top:#DDD;
	background:#FFF;
}

/*Wallet*/

